html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('./assets/background-img.png') center/cover no-repeat;
    background-size: cover;
    font-family: "Gabarito", sans-serif;
    display: flex;
    flex-direction: column;
}

h1,
h2,
p {
    color: white;
}

.header {
    background: rgba(0, 0, 0, 0.295);
    box-shadow: 0 0 5px #2aff1b;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.game-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 6rem);
    background: rgba(0, 0, 0, 0.295);
    box-shadow: 0 0 5px #2aff1b;
    margin: 0rem 1rem 1rem 1rem;
    padding: 1rem;
}

#champion-list {
    flex: 1 1 70%;
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    gap: 1rem;
    height: calc(100vh - 12rem);
}

.champion-card {
    width: 7rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: black;
    transition: transform 0.2s;
}

.champion-card:hover {
    transform: scale(1.05);
}

.champion-card img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.champion-card p {
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
}

#champion-list::-webkit-scrollbar {
    width: 0.6rem;
}

#champion-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
}

#champion-list::-webkit-scrollbar-thumb {
    background-color: #2aff1b;
    border-radius: 0.5rem;
    border: 2px solid #111;
}

.selected {
    background-color: #2aff1b;
    transform: scale(1.05);
}

.selected p {
    color: black;
    font-weight: 700;
}

.result-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    color:white;
    min-width: 27%;
    flex: 1 1 30%;
    max-width: 30%;
    overflow-wrap: break-word;
}

.myTeam-container, .enemyTeam-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-start;
    height: 8rem;
    gap: 1rem;
}

#myTeamComplete, #enemyTeamComplete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 25rem;
}

.champion-card-team {
    width: 4rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: black;
    transition: transform 0.2s;
}

.champion-card-team img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin-bottom: 0.5rem;
    align-items: center;
}

.champion-card-team p {
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

button {
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-size: large;
}

#play-button {
    background-color: #2aff1b;
}

#play-button:hover {
    background-color: #2aff1b3d;
    color: white;
}

#clear-button {
    background-color: lightgray;
}

#clear-button:hover {
    background-color: rgba(211, 211, 211, 0.237);
    color: white;
}

.result-container img {
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
}

.result-game {
    font-size: large;
    background: #2aff1b3d;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    font-weight: 700;
}