@media screen and (max-width: 1015px) {
    :root {
        --column-count: 2;
    }
    .offer__list-item {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    :root {
        --column-count: 1;
    }
    .offer__list-item {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
}
